extends layout

append styles
	link(rel='stylesheet', href='/stylesheets/init.css')


block content
	h1= innerTitle
	
	p
		| this is the first time you have started this site <br />
		| please login with your default admin credentials <br />
		| to initialise your protoo 

	form(name="input", action="/", method="get")
		p 
			| Username:
		p 
			input(type="text", name="user")

		p 
			|Password:
		p 
			input(type="text", name="pswd")

		input(type="submit", value="Submit")