!!!

html
	head
		block title
		block styles
			link(rel='stylesheet', href='/stylesheets/style.css')
			link(rel='stylesheet', href='/stylesheets/utilitycss/jquery_ui/jquery-ui.css')
			link(rel='stylesheet', href='/stylesheets/utilitycss/jquery_ui/jquery-ui.custom.css')



	body
		block content
		block scripts
			script(src='/javascripts/jquery/jquery.js')
			script(src='/javascripts/jquery/jquery-ui.js')
			//- script(src='/javascripts/jquery.animate-enhanced.js')