extends ./layout

append title
	title #{protooName} | #{t('login.title')}

append styles
	link(rel='stylesheet', href='/stylesheets/utilitycss/mediaelementjs/mediaelementplayer.min.css')


append scripts
	script(src='/javascripts/mediaelement/mediaelement-and-player.min.js')
	script(src='/javascripts/mediaplayer.js')



block content
	#content
		video(width="640", height="360", src="http://www.protobits.com/beamaz/schneeblueher/schneeblueher_3mbit_halfHD.mp4", type="video/mp4", id="player1", poster="http://cdn.protobits.com/beamaz/schneeblueher/SchneeblueherCover.jpg", controls="controls", preload="none")