#loginForm
	width 240pt
	display block
	background-color #fff
	position relative
	margin 0pt
	margin-top 20pt
	padding 10pt


	input
		border-radius: 5pt
		-webkit-appearance none
		font-family kreonregular
		padding 2pt
		background-color #f6f6f9
		border-width 1pt
		border-color none
		&:focus
			-webkit-appearance none
			outline none

	input[type=text]:focus
	input[type=password]:focus
	textarea:focus
		outline none
		-webkit-appearance none
		border-width 1pt
		border-color #ff7061

	input[type='submit']
		font-family kreonbold
		font-size 8pt
		border-radius 5pt
		background-color #f6f6f9
		border-color #000
		border-width 1pt
		padding 4pt

		&:hover
			background-color #f9f6f6
			cursor pointer
		&:active
			background-color #fbe5e5


