//fonts
@import "./public/stylesheets/utilitycss/cssReset"
@import "webfonts/webfontsloader"
@import "./public/stylesheets/subsitescss/login"

body
	padding 50pt
	font-family kreonregular
	font-size 10pt

h1
	font-family League Gothic
	font-size 40pt
	line-height 34pt
	margin-bottom 20pt
a
	color: #00B7FF

b
	font-family kreonbold
	
i	
	font-family kreonlight
	font-style normal
	