//fonts
@import "./public/stylesheets/utilitycss/cssReset"
@import "webfonts/webfontsloader"
@import "./public/stylesheets/subsitescss/login"

body
	padding 50pt
	font-family kreonregular
	font-size 10pt
	line-height 110%
h1
	font-family League Gothic
	font-size 40pt
	line-height 34pt
	margin-bottom 20pt
	
h2 
	font-family kreonbold
	font-size 10pt
	padding-top 5pt
	padding-bottom 5pt
	border-bottom 1pt
	border-top 1pt
	border-color black
	border-style solid
	margin-bottom 3pt 
	margin-top 15pt
a
	color: #993333
	&:hover
		color: #CC0000
b
	font-family kreonbold

i
	font-family kreonlight
	font-style normal

#sectionedText
	p
		padding-left 10pt